{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('assets/css/registration.css')}}"
{% endblock %}
       
{% block body %}

    <body>
            <div class="inner">
                <div class="image-holder">
                    <img src="{{ asset('assets/images/others/inscription_fond3.png')}}" alt="">
                </div>

                <form method="post">
            
                    <h3 class="h3 mb-3 font-weight-normal">Mot de passe oublié ? </h3>
                    <p style="margin-bottom: 15px;" class="text-security-controller">Rentrez votre email vous permettra de réinitialiser votre mot de passe !</p>
                    <label for="inputEmail" class="sr-only">Email</label>

                    <input type="email" name="email" id="inputEmail" class="form-control form-forget-password" placeholder="Email" required autofocus>
            
                    <button class="btn btn-lg btn-primary btn-no-hover" type="submit">
                        Send mail !
                    </button>
            
                </form>
                        
            </div>
    </body>
{% endblock %}