
    {% extends 'base.html.twig' %}

{% block title %}Reset Password!{% endblock %}

{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('assets/css/registration.css')}}"
{% endblock %}
       
{% block body %}

    <body>
        
			<div class="inner">
                <div class="image-holder">
                     <img src="{{ asset('assets/images/others/inscription_fond3.png')}}" alt="">
                </div>
                    <form method="post">
                
                        <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>                        
                        <input type="hidden" name="token" value="{token}">
                
                        <button class="btn btn-lg btn-primary" type="submit">
                            Enregitrer
                        </button>

                    </form>                       
			</div>
		
    </body>
          {% endblock %}