h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
}
img {
    max-width: 100%;
}
button:active {
    outline: 0;
}
section {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.super_container {
    width: 100%;
    overflow: hidden;
}
.parallax-window {
    min-height: 400px;
    background: 0 0;
}
.parallax_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.owl-carousel,
.owl-carousel .owl-item {
    height: 100%;
}
.slide {
    height: 100%;
}
.section_title h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
    line-height: 1.2;
}
.section_subtitle {
    font-size: 24px;
    font-weight: 500;
    color: #b5b5b5;
    line-height: 1.2;
    margin-top: -4px;
}
.button {
    display: inline-block;
    width: 200px;
    height: 64px;
    background: #006400;
    text-align: center;
}
.button::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #161d4a;
    content: '';
    z-index: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.button:hover::after {
    height: 100%;
}
.button a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
}
.home {
    height: 548px;
    padding-bottom: 134px;
}
.home_text {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}
.home_text span {
    color: #006400;
}
.about {
    background: #fff;
}
.about .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}
.about .container .row {
    margin-left: 0;
    margin-right: 0;
}
.about .container .row > div[class^=col] {
    padding-left: 0;
    padding-right: 0;
}
.about_image {
    height: 100%;
}
.about_image img {
    display: none;
}
.about_content {
    padding: 0px 100px 70px 112px;
}
.about_content_container {
    max-width: 690px;
}
.about_title {
    font-size: 24px;
    font-weight: 700;
    color: #888;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 13px;
}
.about_subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #b5b5b5;
    margin-top: 3px;
}
.about_text {
    margin-top: 44px;
}
.about_text p:not(:last-of-type) {
    margin-bottom: 30px;
}
.about_button {
    margin-top: 60px;
}
.team {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.team_large_row {
    margin-top: 100px;
}
.team_large {
    margin-bottom: 30px;
    background-color: #161d4a;
}
.team_large_content {
    padding: 12px 20px 13px;
}
.team_large_image {
    width: 350px;
    height: 278px;
    position: relative;
    z-index: 1;
    border: #fff 1px solid;
}
.team_large_name {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-decoration: underline;
}
.team_large_name a:hover {
    color: #161d4a;
}
.team_large_title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 7px;
}
.team_large_text {
    margin-top: 13px;
}
.team_small_row {
    margin-top: 43px;
}
.team_small {
    margin-bottom: 30px;
    background-color: #161d4a;
}
.team_small_image {
    width: 160px;
    height: 160px;
    position: relative;
    border: #fff 1px solid;
}
.team_small_image a {
    display: block;
    position: relative;
    height: 100%;
}
.team_small_image > div {
    position: absolute;
    top: 8px;
    left: -21px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #006400;
    background: #161d4a;
    z-index: 1;
}

.team_small_image:hover::after {
    visibility: visible;
    opacity: 1;
}
.team_small_content {
    padding-top: 10px;
    padding-bottom: 14px;
}
.team_small_name {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 5px;
}
.team_small_name a:hover {
    color: #006400;
}
.team_small_title {
    font-size: 14px;
    font-weight: 700;
    color: #006400;
    text-transform: uppercase;
    margin-top: 8px;
}
.team_button {
    margin-top: 40px;
}
.testimonials {
    padding-top: 99px;
    padding-bottom: 75px;
}
.test_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(237,240,244,.9);
}
.testimonials_slider_container {
    margin-top: 69px;
    padding-left: 15px;
    padding-right: 15px;
}
.test_item {
    padding-bottom: 22px;
}
.test_text p {
    font-style: italic;
}
.test_image {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
}
.test_name {
    margin-top: 16px;
}
.test_name a,
.test_name span {
    font-size: 18px;
    font-weight: 500;
    color: #006400;
}
.test_name a:hover {
    color: #161d4a;
}
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: 700;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.Modal-image {
    height: 346px;
    width: 378px;
    margin-bottom: 20px;
}
.cv-joueur {
    margin-left: 60px;
}
.div,
span {
    color: #000;
}
.btn-primary {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
}
.btn-primary-2 {
    color: #fff;
    background-color: #006400;
    border-color: #006400;
    font-size: 10px;
}
.btn-secondary {
    width: 100px;
}
.btn-primary:hover {
    background: #fff;
    color: #006400;
}
.btn-primary-2:hover {
    background: #fff;
    color: #006400;
    text-decoration: underline;
}
.uk-breadcrumb {
    padding: 0;
    list-style: none;
    font-size: 0.001px;
}
.uk-breadcrumb > li {
    font-size: 1rem;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.uk-breadcrumb > li,
.uk-breadcrumb > li > a,
.uk-breadcrumb > li > span {
    display: inline-block;
}
.uk-breadcrumb > li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
}
.uk-container {
    box-sizing: border-box;
    max-width: 980px;
    padding: 0 25px;
}
@media (min-width:1220px) {
    .uk-container {
        max-width: 1200px;
        padding: 0 35px;
    }
}
.uk-container:after,
.uk-container:before {
    content: "";
    display: table;
}
.uk-container:after {
    clear: both;
}
.uk-container-center {
    margin-left: auto;
    margin-right: auto;
}
.uk-h1,
h1 {
    font-size: 40px;
    line-height: 50px;
}
.uk-h3,
h3 {
    font-size: 24px;
    line-height: 30px;
}
img {
    max-width: 100%;
}
details,
section {
    display: block;
}
@media (min-width:1220px) {
    [class*=uk-width] {
        box-sizing: border-box;
        width: 100%;
    }
    .uk-breadcrumb {
        padding: 0;
        list-style: none;
        font-size: 0.001px;
    }
    .uk-breadcrumb > li {
        font-size: 1rem;
        vertical-align: top;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
    .uk-breadcrumb > li,
    .uk-breadcrumb > li > a,
    .uk-breadcrumb > li > span {
        display: inline-block;
    }
    .uk-breadcrumb > li:nth-child(n+2):before {
        content: "/";
        display: inline-block;
        margin: 0 8px;
    }
    .uk-container {
        box-sizing: border-box;
        max-width: 980px;
        padding: 0 25px;
    }
    @media (min-width:1220px) {
        .uk-container {
            max-width: 1200px;
            padding: 0 35px;
        }
    }
    .uk-container:after,
    .uk-container:before {
        content: "";
        display: table;
    }
    .uk-container:after {
        clear: both;
    }
    .uk-container-center {
        margin-left: auto;
        margin-right: auto;
    }
    .uk-flex > * {
        -ms-flex-negative: 1;
    }
    .uk-flex-center {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    a {
        transition: 0.4s color;
        -webkit-transition: 0.4s color;
        outline: 0;
    }
    .uk-breadcrumb {
        margin-left: 40px;
        margin-bottom: 70px;
        margin-top: -45px;
        position: relative;
        background: #006400;
    }
    .uk-breadcrumb:after {
        content: '';
        background: #006400;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1000%;
        left: 100%;
        display: block;
    }
    .uk-breadcrumb:before {
        content: '';
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1000%;
        right: 100%;
        display: block;
    }
    .uk-breadcrumb > li {
        line-height: 45px;
    }
    .uk-breadcrumb > li:nth-child(n+2):before {
        content: '>';
        color: #fff;
    }
    .uk-breadcrumb > li:first-child > a {
        color: #363533;
    }
    .uk-breadcrumb > li:first-child {
        position: relative;
        z-index: 1;
    }
    .uk-breadcrumb > li:first-child:before {
        content: '';
        background: #006400;
        transform: skew(-33deg);
        -webkit-transform: skew(-33deg);
        position: absolute;
        left: -25px;
        top: 0;
        bottom: 0;
        width: 150%;
        z-index: -1;
    }
    .uk-breadcrumb > li > a {
        color: #fff;
        font-size: 14px;
        font-family: 'Work Sans';
    }
}
.home_text {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}
.home_text {
    display: inline-block!important;
    background: #161d4a;
    padding: 17px 34px 13px;
}
.home_text span {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #006400;
}
.home {
    height: 548px;
    padding-bottom: 134px;
}
.home_text {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 50px;
    margin-left: 230px;
}
.home_text span {
    color: #006400;
}
.team_name a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.4;
}
.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: solid 1px #000;
}